body {
  font-size: 5rem;
}

nav {
  max-width: 80%;
  margin: auto;
  margin-bottom: 3rem;
  text-align: center;
}

#history {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  height: 12.5rem;
}

.player-func,
.ai-func {
  width: 100%;
  margin: 1rem;
  padding: 0;
  text-align: center;
  font-size: 2rem;
}

#selections,
#scoreboard {
  display: flex;
  max-width: 100%;
  text-align: center;
  justify-content: center;
  font-size: 3rem;
  margin: auto;
  gap: 2rem;
}

/* player selection buttons */

.player-choice-rock,
.player-choice-paper,
.player-choice-scissors {
  margin-top: 3rem;
  border: none;
  background-color: white;
  font-size: 4rem;
  letter-spacing: 4rem;
  cursor: pointer;
}
